<footer class="footer">
  <div class="footer-container">

    <!-- LEFT BIG COLUMN -->
    <div class="footer-about">
      <h3>EZYPAYMENT</h3>
      <p>
        Ezypayment is a unified digital payment platform that empowers businesses,
        schools, organizations, and enterprises to accept, manage, and track
        payments with ease. We offer secure, compliant and automated solutions
        that streamline collections, billing, payouts, and financial operations
        in real time.
      </p>
    </div>

    <!-- RIGHT SIDE COLUMNS -->
    <div class="footer-col">
      <h4>Company</h4>
      <a href="/eazypayements/index.html">Home</a>
      <a href="../../pages/about/about-us.html">About Us</a>
      <a href="../pricing/pricing.html">Pricing</a>
      <a href="../../pages/services/service.html">Services</a>
      <a href="../contact/contact.html">Contact</a>
    </div>

    <div class="footer-col">
      <h4>Products</h4>
      <a href="../product/payment-gateway.html">Payment Collection</a>
      <a href="#">Auto Fees Collection</a>
      <a href="#">Smart Billing</a>
    </div>

    <div class="footer-col">
      <h4>Legal</h4>
      <a href="../policy/privacy-policy.html">Privacy Policy</a>
      <a href="../policy/term-and-condition.html">Terms & Conditions</a>
      <a href="../policy/refund.html">Refund Policy</a>
      <a href="../policy/disclaimer.html">Disclaimer</a>
    </div>

    <div class="footer-contact">
      <h4>Contact Us</h4>
      <p>info@ezypayment.com</p>
      <p>1800 570 7789</p>
    </div>

  </div>

  <div class="footer-bottom">
    © 2025 Ezypayment • All Rights Reserved
  </div>
</footer>
