 <footer>
        <div class="footer-row">
            <div class="footer-about">
                <h3>EZYPAYMENT</h3>
                <p>
                    Ezypayment simplifies payments across all sectors, offering 
                    secure, compliant, and fast financial solutions.
                </p>
            </div>

            <div class="footer-col">
                <h4>Company</h4>
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Pricing</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
            </div>

            <div class="footer-col">
                <h4>Products</h4>
                <a href="#">Payment Collection</a>
                <a href="#">Auto Fees Collection</a>
                <a href="#">Smart Billing</a>
            </div>

            <div class="footer-col">
                <h4>Legal</h4>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Refund Policy</a>
            </div>

            <div class="footer-col">
                <h4>Contact Us</h4>
                <p>info@ezypayment.com</p>
                <p>1800 570 7789</p>
            </div>
        </div>

        <div class="footer-bottom">
            © 2025 Ezypayment • All Rights Reserved
        </div>
    </footer>