<footer class="footer">
  <div class="footer-container">

    <!-- LEFT BIG COLUMN -->
    <div class="footer-about">
      <h3>
        <span style="color: black;">Ezy</span><span style="color: #039902;">Pay</span><span
          style="color: black;">ment</span>
      </h3>

      <p>
        Ezypayment is a unified digital payment platform that empowers businesses,
        schools, organizations, and enterprises to accept, manage, and track
        payments with ease. We offer secure, compliant and automated solutions
        that streamline collections, billing, payouts, and financial operations
        in real time.
      </p>
    </div>

    <!-- RIGHT SIDE COLUMNS -->
    <div class="footer-col">
      <h4>Company</h4>
      <a href="/eazypayements/index.html">Home</a>
      <a href="/eazypayements/pages/about/about-us.html">About Us</a>
      <a href="/eazypayements/pages/pricing/pricing.html">Pricing</a>
      <a href="/eazypayements/pages/services/service.html">Services</a>
      <a href="/eazypayements/pages/contact/contact.html">Contact</a>
    </div>

    <div class="footer-col">
      <h4>Products</h4>
      <a href="/eazypayements/pages/product/payment-gateway.html">Payment Gateway</a>
      <a href="/eazypayements/pages/product/fees.html">Ezypayment soundbox</a>
      <a href="/eazypayements/pages/product/payout.html">Payout</a>
      <a href="/eazypayements/pages/product/pos.html">POS</a>
      <a href="/eazypayements/pages/product/smart-billing.html">UPI Stack</a>
    </div>

    <div class="footer-col">
      <h4>Legal</h4>
      <a href="/eazypayements/pages/policy/privacy-policy.html">Privacy Policy</a>
      <a href="/eazypayements/pages/policy/term-and-condition.html">Terms & Conditions</a>
      <a href="/eazypayements/pages/policy/refund.html">Refund Policy</a>
      <a href="/eazypayements/pages/policy/disclaimer.html">Disclaimer</a>
    </div>

    <div class="footer-contact">
      <h4>Contact Us</h4>
      <p>support@ezypayment.in </p>
      <p>1800 570 7789</p>
    </div>

  </div>

  <div class="footer-bottom">
    © 2025 Ezypayment • All Rights Reserved
  </div>
</footer>